{
  "presets": [
    [
      "env",
      {
        "targets": [
          "node",
          "chrome",
          "edge",
          "firefox"
        ],
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}
